.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.App-header {
  background-color: #171075;
  padding: 20px;
  color: white;
}

.parent {
  margin: 20px;
  padding: 20px;
}

.child1 {
  margin: 20px auto;
  max-width: 800px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
